@import "reset.scss";
@import "variables.scss";
@import "fonts.scss";

body {
	margin: 0;
	background: $bg-color;
	color: $text-color;
	font-family: $family;
}
.switch-btn {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	line-height: 21px;
	color: $text-color;
	span {
		color: $brand-color;
	}
}
.box {
	background: $bg-content;
}
.brand {
	color: $brand-color;
}
.ua {
	display: none;
}
.wrapper {
	padding: $step;
}
.heading {
	position: fixed;
	width: 100%;
	height: $step;
	background-color: $bg-color;
	top: 0;
	left: 0;
	padding: 44px 80px;
	display: flex;
	justify-content: space-between;
	h1 {
		font-size: 18px;
		line-height: 21px;
		a {
			text-decoration: none;
			color: $text-color;
		}
	}
}
.header {
	background-color: $bg-brand;
	height: calc(100vh - 160px);
	margin: 0 0 $step;
	display: flex;
}

// animation scrolldown 
.scrolldown {
	position: fixed;
	bottom: 0;
	z-index: 200;
	text-align: center;
	.animated * {
		-webkit-animation-duration: 0.5s;
		animation-duration: 0.5s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-name: arrow;
		animation-name: arrow;
	}
	@keyframes arrow {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-5px);
		}
	}
	.txt {
		display: inline-block;
		transform-origin: 0 0;
		transform: rotate(-90deg);
	}
}
// Burger styles
.btn_burger {
	position: fixed;
	top: 50%;
	left: 48px;
	width: 56px;
	height: 30px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	&-line {
		display: block;
		width: 48px;
		height: 5px;
		background-color: $fitches-color;
		position: relative;
		transition: cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.45s;
	}
	.btn-top {
		top: -8px;
	}

	.btn-bot {
		bottom: -8px;
	}
	&:hover {
		.btn-mid {
			left: 8px;
		}
	}
}
.links {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 20px;
	li {
		margin-top: 20px;
		svg * {
			fill: $fitches-color;
		}
		svg *:hover {
			transition: 0.5s ease;
			fill: $brand-color;
		}
	}
}
.menu {
	display: none;
}
.info {
	flex-grow: 1;
	flex-basis: 50%;
	&-text {
		opacity: 0;
	}
}
.hero {
	background-color: $bg-content;
	flex-grow: 1;
	flex-basis: 50%;
	display: flex;
	align-items: center;
	&-text {
		display: block;
		width: 400px;
		font-weight: 900;
		font-size: 80px;
		line-height: 94px;
		color: $text-color;
		transform: translateX(-50%);
		span {
			color: $brand-color;
		}
	}
}
.footer {
	position: fixed;
	width: 100%;
	height: $step;
	background-color: $bg-color;
	bottom: 0;
	left: 0;
	z-index: 100;
}
