$bg-color: #fff;
$text-color: #272822;
$brand-color: #f92672;
$bg-content: #f5f5f5;
$bg-brand: #e6db74;
$fitches-color: #75715E;
$bg-color-dark: #222629;
$brand-color-dark: #87c232;
$default-color: #000000;

$step: 80px;
$family: 'Montserrat', sans-serif;

$def-size: 18px;