/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  background: #fff;
  color: #272822; }

.btn {
  border: 2px solid #f92672;
  color: #f92672;
  background: none;
  outline: none; }

.box {
  background: #f5f5f5; }

.brand {
  color: #f92672; }

.ua {
  display: none; }

.wrapper {
  padding: 80px; }

.heading {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  top: 0;
  left: 0; }

.header {
  background-color: #e6db74;
  height: calc(100vh - 160px);
  margin: 0 0 80px;
  display: flex; }
  .header:hover .hero {
    opacity: 0;
    transition: 1s ease-out 0.4s; }
  .header:hover .info-text {
    opacity: 1;
    transition: 1s ease-out 0.4s; }

.btn-burger {
  position: fixed;
  top: 50%;
  left: 0; }

.links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.menu {
  display: none; }

.info {
  flex-grow: 1;
  flex-basis: 50%; }
  .info-text {
    opacity: 0; }

.hero {
  background-color: #f5f5f5;
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  align-items: center; }
  .hero-text {
    display: block;
    width: 400px;
    font-size: 80px;
    color: #272822;
    transform: translateX(-50%); }

.footer {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  z-index: 100; }

.dark-theme {
  background: #222629; }
  .dark-theme .btn {
    border: 2px solid #87c232;
    color: #87c232; }
  .dark-theme .brand {
    color: #87c232; }
  .dark-theme .en {
    display: none; }
  .dark-theme .ua {
    display: block; }
