/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  background: #fff;
  color: #272822;
  font-family: "Montserrat", sans-serif; }

.switch-btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 21px;
  color: #272822; }
  .switch-btn span {
    color: #f92672; }

.box {
  background: #f5f5f5; }

.brand {
  color: #f92672; }

.ua {
  display: none; }

.wrapper {
  padding: 80px; }

.heading {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  top: 0;
  left: 0;
  padding: 44px 80px;
  display: flex;
  justify-content: space-between; }
  .heading h1 {
    font-size: 18px;
    line-height: 21px; }
    .heading h1 a {
      text-decoration: none;
      color: #272822; }

.header {
  background-color: #e6db74;
  height: calc(100vh - 160px);
  margin: 0 0 80px;
  display: flex; }

.scrolldown {
  position: fixed;
  left: 930px;
  bottom: 60px;
  z-index: 200;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .scrolldown .animated * {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: arrow;
    animation-name: arrow; }

@-webkit-keyframes arrow {
  0%,
  100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-5px); } }

@keyframes arrow {
  0%,
  100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-5px); } }
  .scrolldown .txt {
    font-size: 16px;
    line-height: 19px;
    transform: rotate(180deg);
    -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
    padding-top: 20px; }

.btn_burger {
  position: fixed;
  top: 50%;
  left: 48px;
  width: 56px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .btn_burger-line {
    display: block;
    width: 48px;
    height: 5px;
    background-color: #75715E;
    position: relative;
    transform-origin: 100% 50%; }
  .btn_burger .btn-top {
    top: -8px;
    width: 50%;
    transition: all 200ms ease-in-out; }
  .btn_burger .btn-mid {
    width: 75%; }
  .btn_burger .btn-bot {
    bottom: -8px;
    width: 100%;
    transition: all 400ms ease-in-out; }
  .btn_burger:hover .btn-top {
    -webkit-animation: burger-hover 1s infinite ease-in-out alternate;
            animation: burger-hover 1s infinite ease-in-out alternate; }
  .btn_burger:hover .btn-mid {
    -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
            animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms; }
  .btn_burger:hover .btn-bot {
    -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
            animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms; }

@-webkit-keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }

@keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }

.links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px; }
  .links li {
    margin-top: 20px; }
    .links li svg * {
      fill: #75715E; }
    .links li svg *:hover {
      transition: 0.5s ease;
      fill: #f92672; }

.menu {
  display: none; }

.info {
  flex-grow: 1;
  flex-basis: 50%; }
  .info-text {
    opacity: 0; }

.hero {
  background-color: #f5f5f5;
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  align-items: center; }
  .hero-text {
    display: block;
    width: 400px;
    font-weight: 900;
    font-size: 80px;
    line-height: 94px;
    color: #272822;
    transform: translateX(-50%); }
    .hero-text span {
      color: #f92672; }

.footer {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  z-index: 100; }
